.container {
    flex-direction: row;
    font-size: 25px;
    font-family: 'Gaegu', cursive;
    text-align: center;
    list-style-type: none;
}

.container1 {
    background-image: linear-gradient(pink, white);
    border: solid white;
    margin-left: 0%;
    margin-left: 0%;
    font-size: 50px;
    justify-content: center;
  font-family: 'Gaegu', cursive;
    
}

h1{
    color: black;
    text-align: center;
}
.voter{

margin-left: 40%;
}

ul{
    list-style-type: none;
}